requests
torch
sentence-transformers
transformers
gradio
pandas
numpy
scikit-learn
nltk
chromadb
openpyxl
tqdm
datetime
langchain
langchain_community
langchain_core
FlagEmbedding
pdf2text
tenacity==8.3.0
